body { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: rgb(231, 231, 231);
}

input { 
    text-align: center;
    width: 100%;
}

.divider { 
    height: 50px;
}

h5 { 
    font-weight: bolder;
}

.collapser { 
    background-color: blue;
    color: white;
}

.startyear { 
    width: 10%;
}
th,td { 
    text-align: center;
    padding-top: 4px;
}
.majorlabels { 
    text-align: center;
}

.namemajorcell {
    width: 40%;
    padding-right: 10px;
}
.grademajorcell { 
    width: 15%;
    padding-right: 10px;
}
.unitmajorcell { 
    width: 15%;
    padding-right: 10px;
}
.yearmajorcell { 
    width: 40%;
    padding-right: 10px;
}

label { 
    padding-right: 8px;
}
.namecell { 
    width: 35%;
}
.gradecell { 
    width: 20%;
}

.unitcell { 
    width: 15%;
}

.checkcell { 
    width: 5%; 
}

.titler { 
    text-align: center;
    margin-bottom: 16px;
    font-weight: bold;
}
.listelem { 
    margin: auto;
    align-self: center;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    width: 60%;
    padding-bottom: 4%;
}
.textalign { 
    text-align: center;
}

.semlabels { 
    background-color:rgb(43, 45, 192); 
    color: rgb(220, 223, 50);
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}
.col-md-6.semestersys { 
    padding-right: 1%;
    padding-left: 1%;
}
.col-md-4.quarter { 
    padding-right: .5%;
    padding-left: .5%;
}

.table { 
    width: 100%;
}

.semester { 
    border-style: none;
    padding: 3%;
}

.semesterheader { 
    text-align: center; 
    margin-bottom: 6px;
    font-weight: bolder;
    color: black;
    border-color: black ;
    border-style: solid;
    
}

.classval { 
    padding-right: 2%;
}
.classval input { 
    width: 100%;
}

.gradeval-no { 
    padding-left: 0%;
    padding-right: 2%;
}

.gradeval { 
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 2%;
}
.gradeval select { 
    width: 120%;
}
.unitval { 
    padding-left: 2%;
}
.unitval input { 
    width: 100%;
}


/* GPAScale CSS */ 
.gpalabel { 
    width: 30%;
    float: left;
    padding-top: 3%;
    padding-left: 6%;
}

.gpainput {
    width: 60%;
    float: right;
    border-style: solid;
    border-width: 2px;
}
.gpatitle { 
    font-size: 14px;
    color: rgb(220, 223, 50);
    font-weight: bolder;
    border-style: solid;
    border-color: grey;
    text-align: center;
    background-color: rgb(43, 45, 192);


}

.gparow { 
   
    margin-top: 4%;
}

.classesview { 
    padding-left: 4%;
}